<div class="wrapper">
    <div class="categories-container">
        <ng-container *ngFor="let category of categories">
            <a 
                [id]="category._id" 
                [class.active]="selectedCategory._id === category._id" 
                (click)="selectCategory(category._id)">
                {{ category.name }}
            </a>
        </ng-container>
    </div>
    <div class="items-container">
        <ng-container *ngFor="let item of sortedItems">
            <app-item class="item" 
                [item]="item" 
                >
            </app-item>
        </ng-container>
    </div>
</div>
