<div class="card">
    <img [src]="'https://p1.liveauctioneers.com/dist/images/placeholder.jpg'" alt="image" class="img" />
    <div class="info">
        <h3>{{ item!.name }}</h3>
        <p>Price: <span class="price">${{ item!.price }}</span></p>
        <p>Location: {{ item!.location }}</p>
        @if (myItem && !deletedItem) {
            @if (item!.isSold) {
                <p style="color: rgb(0, 128, 0);"><br><b>Your item</b></p>
            } @else {
                <p style="color: rgb(156, 85, 18);"><br><b>Sold</b></p>
            }
        }
        @if (boughtItem) {
            <p style="color: rgb(50, 50, 255);"><br><b>Item bought</b></p>
        }
        @if (deletedItem) {
            <p style="color: rgb(255, 0, 0);"><br><b>Item deleted</b></p>
        }
    </div>

    <div class="action">
        <button (click)="openItem(item!._id)">View</button>
    </div>
</div>