<div class="forgotPassword-wrapper">
    <div class="forgotPassword-box">
        <h2>Forgot password</h2>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username">E-mail address</label>
                <input
                    type="email"
                    id="email"
                    formControlName="email"
                    placeholder="E-mail address"
                />
            </div>

            <button type="submit">Reset password</button>
        </form>

        <button type="submit" (click)="backToLogin()" class="back-to-login-btn">Back to login</button>
  
        <div class="error-message">{{ message }}</div>
    </div>
</div>