
<div class="wrapper">
    <div class="item-container">
        @if (!item) {
            <div class="loading-screen">
                <div class="loader"></div>
                <p>Loading item...</p>
            </div>
        } @else {
            <div class="images">
                <img [src]="'https://p1.liveauctioneers.com/dist/images/placeholder.jpg'" alt="image" class="img" />
            </div>
            <div class="informations">
                <div class="name">
                    <div class="background">
                        <p>{{ item!.name }}</p>
                    </div>
                </div>
                <div class="description">
                    <div class="background">
                        <p>{{ item!.description }}</p>
                    </div>
                </div>
            </div>
            <div class="price">
                <div class="background">
                    <p>${{ item!.price }}</p>
                </div>
            </div>
            <div class="tags">
                @for (tag of item!.tags; track tag) {
                    <span class="tag">{{ tag }}</span>
                }
                <span class="tag">Category: {{ item!.category.name }}</span>
                <span class="tag">Location: {{ item!.location }}</span>
            </div>
            @if (this.isAuthenticated) {
                <div class="buttons">
                    @for (button of this.buttons; track button) {
                        <button class="{{ button.class }}" (click)="button.click()">
                            <i class="icon">{{ button.icon }}</i>
                            <span>{{ button.name }}</span>
                        </button>
                    }
                </div>
            }
            
            <div class="created-at">
                Created at: {{ item!.createdAt | hungarianDate }}<br>
                Last modified at: {{ item!.lastUpdated | hungarianDate }}
            </div>

            @if (showConfirmation) {
                <app-confirm-dialog
                    [message]="showConfirmation[0].message"
                    [confirmButtonText]="showConfirmation[0].confirmButtonText"
                    [cancelButtonText]="showConfirmation[0].cancelButtonText"
                    (confirm)="showConfirmation[0].confirm()"
                    (cancel)="showConfirmation[0].cancel()">
                </app-confirm-dialog>
            }
        }
    </div>
</div>